#movies img, #movie img, #favorites img{
  width: 100%;
}
.nav-item{
  padding-top: 9px;
}


@media (min-width: 960px) {
  #movies .col-md-3 .well, #favorites .col-md-3 .well{
    height: 390px;
  }
  #movies .col-md-3 img, #favorites .col-md-3 img {
    height: 240px;
  }
}


#search{
  position:relative;
  font-size:18px;
  padding-top:40px;
  margin:-20px auto 0
}
  #search label{
    position:absolute;
    left:17px;
    top:51px
    }
    #search #search-text, #search .hint{
      padding-left:43px;
      padding-right:43px;
      border-radius:23px
}
